@CHARSET "ISO-8859-1";
body{
	font-family: 'Lato', sans-serif;
	background-color:white;
	padding-top: 70px;
}

.adminBody{
	padding-top:0px;
}
.navbar-searchbar {
    margin-right:16px;
}
.navbar-border{
	border-radius: 0px;
	box-shadow:initial;
	border:0;
	background:rgb(34,34,34);
	font-size:15px;
}


img{
	width:100%;
}

.middle{
	text-align:center;
	margin-top:-200px;
}
/* LEFT TO RIGHT */

.navbar-default .navbar-nav>li>a {
    color: #CCCCCC;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CCCCCC;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #CCCCCC;
}

.navbar-default .navbar-brand {
	font-size:150%;
    color: #CCCCCC;
}

.navbar-default .navbar-brand:hover {
    color: #CCCCCC;
}

.navbar-default .navbar-brand:visited {
    color: #CCCCCC;
}

.sliding-u-l-r > li > a {
display: inline-block;
}
.sliding-u-l-r > li > a:after {
content: '';
display: block;
height: 1.5px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.sliding-u-l-r > li > a:hover:after {
width: 100%;
background: #CCCCCC;
}

/* .message {
	padding-bottom: 20em;
} */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

.gamesrow {
	padding-left: 5em;
	padding-top: 3em;
} 

.table-inverse{
	background-color: white;
}
/* css for game details page  */
.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
        
    }
    .navbar-border{
    background:#252b2d;
    margin-bottom:0px;
    }
}

#headtags {
	color: white ;
	font-family: 'Oswald', sans-serif;
	font-size: 200%;
	padding-top: 2em;
	padding-left: 2em;
}