@CHARSET "ISO-8859-1";
body{
	font-family: 'Lato', sans-serif;
}
.navbar-searchbar {
    margin-right:16px;
}
.navbar-border{
	border-radius: 0px;
	box-shadow:initial;
	border:0;
	background:transparent;
	font-size:15px;
	position: absolute;
	z-index: 10;
}

img{
	width:100%;
}

.middle{
	text-align:center;
	margin-top:-200px;
}
/* LEFT TO RIGHT */

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.navbar-default .navbar-brand {
	font-size:150%;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand:visited {
    color: white;
}

.sliding-u-l-r > li > a {
display: inline-block;
}
.sliding-u-l-r > li > a:after {
content: '';
display: block;
height: 1.5px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.sliding-u-l-r > li > a:hover:after {
width: 100%;
background: white;
}

.message {
	padding-bottom: 20em;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
        
    }
    .navbar-border{
    position:relative;
    }
}

.thumbnail {
	width: 250px;
	height: auto;
}
